.app-favorite-map {
  display: flex;
  .favorites {
    flex-grow: 2;
  }

  .map-container {
    width: 50vw;
    flex-grow: 5;
  }

  .marker {
    background-size: cover;
    width: 24px;
    height: 37px;
    cursor: pointer;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Map_marker.svg/512px-Map_marker.svg.png");
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column-reverse;
    .favorites {
      height: 40vh;
    }

    .map-container {
      width: 100vw;
      height: 60vh;
    }
  }
}
